body{
    font-family: 'Special Elite', cursive;
    background: skyblue;
}
.header_div{
    background:slateblue;
    color:rgb(0, 255, 255);
}
.header_div p{
    font-family: 'Courier New', Courier, monospace;
    color:goldenrod;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color:#0059ff;
    bottom:0px;
    width:100%;
    font-size:18px;
    background-color: lime;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(54, 8, 221);
}